<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
<script src="../static/js/bootstrap.js"></script>
<title>Inserisci Album</title>
</head>
<body>
	<div id="inserisci-album">
		<h3 class="text-center text-white pt-5"></h3>
		<div class="container">
			<div id="inserisci-album-row"
				class="row justify-content-center align-items-center">
				<div id="inserisci-album-column" class="col-md-6">
					<div id="inserisci-album-box" class="col-md-12">
						<form id="inserisci-album-form" th:action="@{/salvaAlbum}" th:object="${album}"
							method="post">
							<h3 class="text-center text-info">Inserisci Album</h3>
							<div class="form-group">
								<label for="nome" class="text-info">Titolo:</label><br> <input
									type="text" name="nome" id="nome" class="form-control"
									th:field="*{titolo}">
							</div>
							<div class="form-group">
								<label for="descrizione" class="text-info">Descrizione:</label><br>
								<textarea class="form-control" name="descrizione"
									id="descrizione" rows="3" th:field="*{descrizione}"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" name="submit" class="btn btn-info btn-md"
									value="Upload">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>