<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
<script src="../static/js/bootstrap.js"></script>
<title>Inserisci foto</title>
</head>
<body>
	<div id="inserisci-foto">
		<h3 class="text-center text-white pt-5"></h3>
		<div class="container">
			<div id="inserisci-foto-row"
				class="row justify-content-center align-items-center">
				<div id="inserisci-foto-column" class="col-md-6">
					<div id="inserisci-foto-box" class="col-md-12">
						<form id="inserisci-foto-form" th:action="@{/salvaFoto}" th:object="${fotoForm}"
							method="post" enctype="multipart/form-data">
							<h3 class="text-center text-info">Inserisci foto</h3>
							<div class="form-group">
								<label for="nome" class="text-info">Nome:</label><br> <input
									type="text" name="nome" id="nome" class="form-control"
									th:field="*{nome}">
									 <small th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Err</small>
							</div>
							<div class="form-group">
								<label for="descrizione" class="text-info">Descrizione:</label><br>
								<textarea class="form-control" name="descrizione"
									id="descrizione" rows="3" th:field="*{descrizione}"></textarea>
							</div>

							<div class="form-group">
								<label for="file"></label> <input type="file"
									class="form-control-file" id="file" name="fileImage" th:field="*{fileImage}">
									<small th:if="${#fields.hasErrors('fileImage')}" th:errors="*{fileImage}">Err</small>
							</div>
							
							<div class="form-group">
								<label for="album_id" class="text-info">Album</label><br> <input
									type="text" name="album_id" id="album_id" class="form-control"
									th:field="*{album_id}">
									<small th:if="${#fields.hasErrors('album_id')}" th:errors="*{album_id}">Err</small>
							</div>

							<div class="form-group">
								<input type="submit" name="submit" class="btn btn-info btn-md"
									value="Upload">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>