<!DOCTYPE htlm>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
	<script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
	<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>

	<title>FotoSi</title>

</head>

<body>

	<!-- header -->

	<header>
		<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">About</h4>
						<p class="text-muted">FotoSi è un servizio gratuito per la distribuzione di licenze per
							fotografie.
							Naviga tra album, fotografi e seleziona le foto che desideri. Invia una richiesta per
							l’utilizzo delle foto e un funzionario le risponderà al più presto.
						</p>
					</div>
					<div class="col-sm-4 offset-md-1 py-4">
						<h4 class="text-white">Info funzionario</h4>
						<ul class="list-unstyled">
							<li><a sec:authorize="isAnonymous()" href="#login" class="text-white">Effettua il login</a>
							</li>
							<li class="text-white" sec:authorize="isAuthenticated()">Loggato con <a
									sec:authentication="name"></a></li>
							<li><a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}"
									class="text-white">Effettua il logout</a></li>
							<li><a sec:authorize="isAuthenticated()" href="#" th:href="@{/richieste}"
									class="text-white">Visualizza richieste</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a href="#" th:href="@{/}" class="navbar-brand d-flex align-items-center"> <svg
						xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="mr-2">
						<path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
						</path>
						<circle cx="12" cy="13" r="4"></circle>
					</svg> <strong>FotoSi</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
					aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>

	<!-- corpo principale -->

	<main role="main">

		<!-- testo principale -->

		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Benvenuto in FotoSi</h1>
				<p class="lead text-muted">Il servizio gratuito per la distribuzione di licenze per fotografie</p>
				<p>
					<a href="#" class="btn btn-primary my-2" th:href="@{/inviaRichiesta}">Richiedi fotografie</a> <a
						href="#" class="btn btn-secondary my-2" th:href="@{/album}">Naviga tra gli album</a>
					<a href="#" class="btn btn-info my-2" th:href="@{/fotografi}">i nostri artisti</a>
				</p>
			</div>
		</section>

		<!-- lista foto -->

		<div class="album py-5 bg-light" th:if="${not fotos.empty}">
			<div class="container">
				<div class="row">
					<th:block th:each="foto : ${fotos}">
						<div class="col-md-4">
							<div class="card mb-4 shadow-sm">
								<img class="card-img-top"
									data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
									alt="Card image cap" th:src="@{${foto.filePath}}">
								<div class="card-body">
									<p class="card-title"><b th:text="${foto.nome}"></b><br>
										<a th:href="@{'/fotografo/' + ${foto.fotografo.id}}"><small class="text-muted"
												th:text="${foto.fotografo.nome} +' ' + ${foto.fotografo.cognome}">Nome
												Cognome</small></a></p>
									<p class="card-text" th:text="${foto.descrizione}">descrizione della foto</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button th:id="${foto.id}" type="button"
												class="btn btn-sm btn-outline-secondary"
												th:attr="onclick=|selezionaFoto('${foto.id}')|">Richiedi</button>
											<button sec:authorize="isAuthenticated()" type="button"
												class="btn btn-sm btn-outline-secondary">Edit</button>
										</div>
										<small class="text-muted" th:text="${foto.data}">data</small>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>

		<!-- login form -->

		<div id="login" sec:authorize="isAnonymous()">
			<h3 class="text-center text-white pt-5"></h3>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" th:action="@{/login}" th:object="${funzionario}" method="post">
								<h3 class="text-center text-info">Login</h3>
								<div class="form-group">
									<label for="nome" class="text-info">Username:</label><br> <input type="text"
										name="username" id="username" class="form-control" th:field="*{username}">
								</div>
								<div class="form-group">
									<label for="nome" class="text-info">Password:</label><br> <input type="password"
										name="nome" id="nome" class="form-control" th:field="*{password}">
								</div>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-info btn-md" value="Conferma">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
	<br><br><br>

	<!-- footer -->

	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>FotoSi è una società &copy; FotoSi & Co, tutti i diritti sono riservati</p>
			<p>
				Al momento il sito è ancora in fase di sviluppo, per maggiori informazioni visita <a href="/">questa
					pagina</a>
			</p>
		</div>
	</footer>
</body>

</html>