<!DOCTYPE htlm>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mostra album</title>
</head>
<body>
	<h1>Foto casuali</h1>
	<table style ="border">
		<tr>
			<th>id</th>
			<th>Nome</th>
			<th>Descrizione</th>
			<th>Album</th>
		</tr>
		<th:block th:each="foto : ${fotos}">
			<tr>
				<td><a th:href="@{'/foto' + '/' + ${foto.id}}" th:text="${foto.id}">...</a></td>
				<td th:text="${foto.nome}">...</td>
				<td th:text="${foto.descrizione}">...</td>
				<td><a th:href="@{'/album' + '/' + ${foto.album.id}}" th:text="${foto.album.titolo}">...</a></td>
			</tr>
		</th:block>
	</table>
	<a href="/index.html">index.html</a><br>
</body>

<style>

table {
  border: 1px solid black;
}
th, td {
  padding: 15px;
  text-align: left;
}
</style>
</html>